<h1>Epicodus Car Inventory</h1>
<h2>Fill in the required information to add your car to our inventory</h2>
    <form action='/car_added' method="post">
      <div class='form-group'>
        <label for='make-model'>Make and Model:</label>
        <input id='make-model' name='make-model' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='price'>Price:</label>
        <input id='price' name='price' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='miles'>Mileage:</label>
        <input id='miles' name='miles' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='description'>A brief description of the vehicle:</label>
        <input id='description' name='description' class='form-control' type='text'>
      </div>
      <button type="submit">Add Car</button>
    </form>
